.container {
    margin: 0 auto;
    display: flex;
}

.left_side {
    width: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right_side {
    width: 350px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.header{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    cursor: pointer;
}